@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */
    
    --blue: hsl(246, 80%, 60%);
    
    --lightOrange: hsl(15, 100%, 70%); /*work*/
    --softBlue: hsl(195, 74%, 62%); /*play*/
    --lightRed: hsl(348, 100%, 68%); /*study*/
    --limeGreen: hsl(145, 58%, 55%); /*exercise*/
    --violet: hsl(264, 64%, 52%); /*social*/
    --softYellow: hsl(43, 84%, 65%); /*sefl care*/
    
    /* ### Neutral */
    
    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 35%, 38%);
    --paleBlue: hsl(236, 100%, 87%);
    
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--veryDarkBlue);
    color: white;
    margin: 0;
}

p {
    margin: 0.25rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 375px;
    width: 100%;
    min-height: 1020px;
    height: 100vh;
    box-sizing: border-box;
}

.time-tracker-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 5rem;
    width: min(90%, 70rem);
    margin-inline: auto;    
}

.grid-item {
    display: flex;
    border-radius: 1rem;
    /* border: 1px solid white; */
    background-repeat: no-repeat;
    background-position: top -0.75rem right 1em;
}

.grid-item--profile {
    background-color: var(--darkBlue);
}

.grid-item--work {
    background-color: var(--lightOrange);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-work.svg);
}
.grid-item--play {
    background-color: var(--softBlue);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-play.svg);
    background-position: top -0.4rem right 1em;
}
.grid-item--study {
    background-color: var(--lightRed);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-study.svg);
    background-position: top -0.4rem right 1em;
}
.grid-item--exercise {
    background-color: var(--limeGreen);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-exercise.svg);
    background-position: top -0.1rem right 1em;
}
.grid-item--social {
    background-color: var(--violet);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-social.svg);
    background-position: top -1rem right 1em;
}
.grid-item--self-care {
    background-color: var(--softYellow);
    background-image: url(https://scottmotion.github.io/time-tracking-dashboard/images/icon-self-care.svg);
}

.grid-item__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* justify-content: space-between; */
    width: 100%;
    /* gap: 1rem; */
}

.grid-item__item-wrapper--profile {
    justify-content: flex-start;
}

.grid-item__user-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--blue);
    border-radius: 1rem;
}

.grid-item__avatar {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;
}

.grid-item__user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-inline-start: 1rem; */
}

.grid-item__user-status {
    opacity: 50%;
    font-size: 14px;
}

.grid-item__user-name {
    margin-top: 0.25rem;
    font-size: 22px;
}

.grid-item__button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1.75em;
}

.grid-item__button {
    cursor: pointer;
    opacity: 50%;
}
.grid-item__button:hover {
    opacity: 100%;
}
.grid-item__button--active {
    opacity: 100%;
}

.grid-item__tracker-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2.25rem;
    background-color: var(--darkBlue);
    border-radius: 1rem;
    padding: 1.75rem;
    margin-bottom: -0.2rem;
}

.grid-item__tracker-wrapper:hover {
    background-color: var(--desaturatedBlue);
}
.grid-item__tracker-wrapper:hover {
    background-color: var(--desaturatedBlue);
}
.grid-item__tracker-wrapper:has(.tracker__ellipsis:hover) {
    background-color: var(--darkBlue);
}

.tracker {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.tracker__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 100%; */
}

.tracker__title {
    font-weight: 400;
}

.tracker__time {
    margin-top: 0.25rem;
    font-size: 2rem;
}

.tracker__ellipsis {
    width: 1.25rem;
    margin-top: 0.25rem;
    opacity: 50%;
    /* border-radius: 50%; */
    /* background-color: black; */
}
.tracker__ellipsis:hover {
    opacity: 100%;
}


.tracker__previous {
    font-size: 14px;
    color: var(--paleBlue);
    /* margin-top: 1.5rem; */
}

.tracker__previous--desktop {
    margin-top: 0.75rem;
    display: none;
}


/* FOOTER */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* MEDIA QUERIES */
@media (min-width: 40em) {
    .time-tracker-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .grid-item--profile {
        grid-column-start: 1;
        grid-row: 1 / span 2;
    }
    .grid-item__user-wrapper {
        flex-direction: column;
        align-items: start;
        height: 100%
    }

    .grid-item__avatar {
        height: 5rem;
        width: 5rem;
    }
    .grid-item__user-name {
        font-size: 2rem;
    }


}


@media (min-width: 60em) {
    .time-tracker-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .grid-item--profile {
        grid-column-start: 1;
        grid-row: 1 / span 2;
    }

    .grid-item__user-wrapper {
        flex-direction: column;
        align-items: start;
    }

    .grid-item__user {
        padding-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .grid-item__avatar {
        height: 5rem;
        width: 5rem;
    }
    .grid-item__user-name {
        font-size: 2.5rem;
    }

    .grid-item__button-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        height: 100%;
    }

    .grid-item__button {
        margin: 0.6rem 0;
    }

    .tracker__row-2 {
        flex-direction: column;
    }
    
    .tracker__time {
        margin-top: 1.25rem;
        font-size: 3.5rem;
    }
    
}
